<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="Codecool" name="author"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <!-- End of Bootstrap components -->

    <link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          rel="stylesheet"/>
</head>

<body>

<header th:replace="header.html :: header"></header>

<div class="container">


    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Customer's info</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8 p-3">
                        <form class="needs_validation m-3" id="customers_info" th:action="@{/checkout}"
                              th:method="post">
                            <div class="mb-5">
                                <h3>Basic info:</h3>
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input aria-describedby="helpname" class="form-control" id="name" name="name" placeholder="John Doe"
                                           required type="text">
                                    <small class="text-muted" id="helpname">Please type your name</small>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input aria-describedby="emailHelpId" class="form-control" id="email" name="email"
                                           placeholder="person@example.com"
                                           required type="email">
                                    <small class="form-text text-muted" id="emailHelpId">Please type your email</small>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input aria-describedby="phoneHelpId" class="form-control" id="phone" name="phone"
                                           pattern="(\+?\d+\-?){3}"
                                           placeholder="+48 555 000 555" required type="text">
                                    <small class="form-text text-muted" id="phoneHelpId">Please type your phone
                                        number</small>
                                </div>
                            </div>

                            <div class="mb-5">
                                <h3>Billing address:</h3>
                                <div class="form-group">
                                    <label for="billing-address">Address:</label>
                                    <input aria-describedby="helpbillingaddress" class="form-control" id="billing-address" name="billing-address"
                                           placeholder="Brazil St. 75"
                                           required type="text">
                                    <small class="text-muted" id="helpbillingaddress">Please type your shipping
                                        address</small>
                                </div>
                                <div class="form-row">
                                    <div class="form-group mr-5">
                                        <label for="billing-zip-code">Zip code:</label>
                                        <input aria-describedby="helpbillingaddresszip" class="form-control" id="billing-zip-code"
                                               name="billing-zip-code" pattern="(\d\d-\d\d\d)"
                                               placeholder="00-999" required
                                               type="text">
                                        <small class="text-muted" id="helpbillingaddresszip">Please type your shipping
                                            address zip code</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="billing-city">City:</label>
                                        <input aria-describedby="helpbillingcity" class="form-control" id="billing-city" name="billing-city"
                                               placeholder="Las Vegas"
                                               required type="text">
                                        <small class="text-muted" id="helpbillingcity">Please type your shipping address
                                            city</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="billing-country">Select country:</label>
                                    <select class="form-control" id="billing-country" name="billing-country" required
                                            th:insert="product/countries.html :: countries_list">
                                    </select>
                                </div>
                            </div>

                            <div class="mb-5">
                                <h3>Shipping address:</h3>
                                <div class="form-group">
                                    <label for="shipping-address">Address:</label>
                                    <input aria-describedby="helpshippingaddress" class="form-control" id="shipping-address"
                                           name="shipping-address" placeholder="Brazil St. 75"
                                           required type="text">
                                    <small class="text-muted" id="helpshippingaddress">Please type your shipping
                                        address</small>
                                </div>
                                <div class="form-row">
                                    <div class="form-group mr-5">
                                        <label for="shipping-zip-code">Zip code:</label>
                                        <input aria-describedby="helpshippingaddresszip" class="form-control" id="shipping-zip-code"
                                               name="shipping-zip-code" pattern="(\d\d-\d\d\d)"
                                               placeholder="00-999" required
                                               type="text">
                                        <small class="text-muted" id="helpshippingaddresszip">Please type your shipping
                                            address zip code</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="shipping-city">City:</label>
                                        <input aria-describedby="helpshippingcity" class="form-control" id="shipping-city" name="shipping-city"
                                               placeholder="Las Vegas"
                                               required type="text">
                                        <small class="text-muted" id="helpshippingcity">Please type your shipping
                                            address city</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="country">Select country:</label>
                                    <select class="form-control" id="country" name="shipping-country" required
                                            th:insert="product/countries.html :: countries_list">
                                    </select>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <div class="sticky">
                                <h3>Summary</h3>
                                <div class="summary-item"><span class="text">Total</span><span class="price"
                                                                                               th:text="${cart.getSumPrice()}">$0</span>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" form="customers_info" type="submit">Go
                                    to Payment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div th:replace="footer.html :: copy"></div>

<script defer src="/static/js/script1.js"></script>
</body>
</html>