<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="Codecool" name="author"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <!-- End of Bootstrap components -->

    <link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          rel="stylesheet"/>
</head>

<body>

<header th:replace="header.html :: header"></header>

<div class="container">


    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Payment Confirmation</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Status: </span><span class="price"
                                                                                              th:text="${status}">$0</span>
                            </div>
                            <div class="summary-item"><span class="text">Order number: </span><span class="price"
                                                                                                    th:text="${orderNumber}">$0</span>
                            </div>
                            <div class="summary-item"><span class="text">Message: </span><span class="price"
                                                                                               th:text="${message}">$0</span>
                            </div>
                            <!--              <button type="button" class="btn btn-primary btn-lg btn-block">Back</button>-->
                            <a class="btn btn-primary btn-lg btn-block" href="/">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<div th:replace="footer.html :: copy"></div>

<script defer src="/static/js/script1.js"></script>
</body>
</html>